@using OLP_WEB.Common;
@using OLP_WEB.Controllers;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - OLP_WEB</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/btnFloat.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/format_text.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="m-0">
	<header>
		<nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">OLP_WEB</a>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="Course" asp-action="Index">Cursos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="Home" asp-action="History">Historia</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="Home" asp-action="Shop">Tienda</a>
						</li>
						@if (Context.Request.Cookies.ContainsKey(Constants.NameUserSessionCookie))
						{
							<li class="nav-item">
								<a class="nav-link text-light" asp-controller="User" asp-action="Profile">Perfil</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-light" asp-controller="User" asp-action="LogIn">Iniciar Sesión</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-controller="User" asp-action="SignUp">Registrarse</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
<footer class="border-top text-muted text-center">
	<ul id="list_links" class="list-inline">
		<li class="list-inline-item"><a href="https://github.com/lasaroh/OLP.git"><img src="~/images/github_invert.png" height="32" width="32" /></a></li>
		<li class="list-inline-item">OLP_WEB - <a asp-controller="Home" asp-action="TermsAndConditionsOfUse">Términos y Condiciones de uso</a></li>
		<li class="list-inline-item"><a asp-controller="Home" asp-action="PrivacyPolicy">Política de privacidad</a></li>
	</ul>
</footer>
</html>