@model CourseViewModel
@using Newtonsoft.Json;
@using OLP_WEB.Common;
@using SharedModels;
@{
	ViewData["Title"] = "Course";
}
<!-- ==================== TITLE ==================== -->
<div id="div_title">
	<h2>Cursos</h2>
</div>

<!-- ==================== FILTERS ==================== -->
<form class="row my-5">
	<div class="col col-lg-1 d-flex align-items-center">
		<p class="m-0">Categoría</p>
	</div>
	<div class="col col-lg-5">
		<select class="form-control" id="category">
			<option id="0">Cualquiera</option>
			@if (Model != null)
			{
				@foreach (Category category in Model.Categories)
				{
					<option id="@category.Id">@category.Name</option>
				}
			}
		</select>
	</div>
	<div class="col col-lg-1">
		<input type="submit" value="Refrescar" class="btn btn-primary" />
	</div>
</form>

<!-- ==================== PAGINATION ==================== -->

<div class="d-flex justify-content-center">
	<ul class="pagination">
		<li class="page-item"><a class="page-link" href="#">Previous</a></li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#">Next</a></li>
	</ul>
</div>

<!-- ==================== COURSES ==================== -->

<!-- ==================== MESSAGE ==================== -->
@if (!string.IsNullOrEmpty(ViewBag.msgErr))
{
	<div class="alert alert-info">@ViewBag.msgErr</div>
}