@{
    ViewData["Title"] = "Index";
}
<!-- ==================== TITLE ==================== -->
<div id="div_title">
    <h2>Historia</h2>
</div>

<p id="description" class="text-center fs-4 bi bi-music-note"> De Beethoven hasta BZRP <span class="bi bi-music-note-beamed"></span></p>
<hr id="hr_title" />


<!-- ==================== HISTORIA (ACCORDION) ==================== -->
<div class="accordion flujo_texto" id="accordion">

    <!-- 1. ORIGEN -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Origen</button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">La música es una serie de sonidos concatenados que llegan al alma.</p>
                <p class="text-left">Los orígenes de la palabra provienen del griego en donde la denominaron musa, debido a que se creía que era como una bella mujer que inspiraba a los artistas.</p>
                <p class="text-left">Es probable que el primer instrumento musical fuese la propia voz humana misma, que puede emitir una gran variedad de sonidos, desde cantar, tararear y silbar hasta hacer clic, toser y bostezar.</p>
                <p class="text-left">
                    Se considera que el instrumento musical más antiguo del mundo es la flauta de hueso encontrada en el sitio arqueológico de Divje Babe a 84km al oeste de Liubliana (Eslovenia). Que no fué producida por homo sápiens sino por neandertales.
                    Se trata del fémur de un oso de las cavernas (extinguido hace 25 000 años) y data de hace entre 50 000 y 60 000 años.
                </p>
                <p class="text-left">Clasificación de instrumentos musicales primitivos:</p>
                <ul>
                    <li>
                        Autófonos o idiófonos: aquellos instrumentos que producen sonidos por medio de la materia con la que están construidos. Son los instrumentos más sencillos construidos por los seres humanos. Son instrumentos de percusión. Por ejemplo,
                        hueso contra piedra o hueso contra hueso.
                    </li>
                    <li>Membranófonos: el material sonoro es una membrana (intestino de animal) tirante atado sobre un recipiente cualquiera o sobre un coco.</li>
                    <li>Cordófonos: instrumentos de cuerda (hecha con intestino de animal), el arpa.</li>
                    <li>Aerófonos: el sonido se origina en ellos por vibraciones de uan columna de aire.</li>
                </ul>
            </div>
        </div>
    </div>



    <!-- 2. EDAD MEDIA -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Edad Media</button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">La música en la Edad Media se divide en el Período Patrístico (hasta el año 840). En el Romántico (año 840 hasta el año 1250 en el siglo XII). En el Gótico (1250 a fin de la Edad Media y 1453, fines del siglo XV).</p>
                <p class="text-left">
                    En el Período Patrístico apareció la Era Cristiana y la Era Media, en esta última la Historia de la música se encuentra íntimamente ligada a la forma en que se desarrolló la liturgia cristiana, ya que se consideraba a la música el
                    vehículo por medio el cual los sacerdotes elevaban la palabra a Dios.
                </p>
                <p class="text-left">Personajes de la música profana:</p>
                <ul>
                    <li>juglares: músicos ambulantes y plebeyos que divertían en fiestas y castillos.</li>
                    <li>trovadores: pertenecían a la nobleza y eran músicos y poetas que inventaban rimas y ritmos.</li>
                    <li>bardos: antecesor de los trovadores que cantaban proezas de sus héroes valiéndose del laúd.</li>
                    <li>ministeriles: verdaderos productores musicales que administraban música y formaban corporaciones o gremios dedicados a brincar espectáculos musicales.</li>
                </ul>
                <p class="text-left">
                    Entre el 540 y el 604 san Gregorio Magno recopiló himnos eliminando los que tenían origen popular o pagano, dando nacimiento al canto gregoriano. El texto es el que da sentido a la melodía y no se puede concebir el canto gregoriano
                    sin texto, lo que quiere decir al interpretar el canto gregoriano, los cantantes han tenido que entender muy bien el sentido del texto.
                </p>
                <p class="text-left">La melodía del canto gregoriano asimila tres estilos diferentes:</p>
                <ul>
                    <li>El silábico: cada nota representada por una sílaba.</li>
                    <li>El neumático: a una misma sílaba le corresponden 2, 3 o 4 sonidos diferentes.</li>
                    <li>Las secuencias: intercalación de un texto en las notas del aleluya.</li>
                </ul>
            </div>
        </div>
    </div>


    <!-- 3. BARROCO -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Barroco</button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">Es el estilo cultural europeo relacionado con la época cultural homónima, que abarca aproximadamente desde el nacimiento de la ópera (1600) hasta la muerte de Johann Sebastian Bach (1750).</p>
                <p class="text-left">Esta época se caracteriza por la aparición de la tonalidad y el uso del bajo continuo, además se crearon formas formas musicales como la sonata, el concierto y la ópera.</p>
            </div>
        </div>
    </div>



    <!-- 4. ROCOCÓ -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">Rococó</button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">En el siglo XVIII el Barroco agótó un conjunto importante de sus posibilidades técniicas y expresivas para dar paso al Clasicismo por lo que se conoce el tránsito hacia este período con el nombre de Rococó.</p>
            </div>
        </div>
    </div>



    <!-- 5. CLASICISMO -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">Clasicismo</button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">
                    A partir de la segunda mitad del siglo XVIII europeo es donde aparece lo mejor del Clasicismo, basado en elementos de estilo, el empleo de la dinámica graduada, la moderación expresiva y la supremacia de la esfera melódica sobre la
                    armónica.
                </p>
                <p class="text-left">Durante las últimas décadas del año 1700 se produjo el derrumbe general del feudalismo, de la aristocracia y del régimen de las monarquías absolutas. Una nueva clase social -la burgesía-.</p>
                <p class="text-left">
                    Los músicos del Clasicismo le dieron una especia de orden y estructura más cerca posible del ideario de la perfección. Para ellos, el equilibrio de la composición, la pureza y transparencia sonoras y la proporción expositiva en el
                    discurso fueron requisitos importantes en la labor creativa.
                </p>
                <p class="text-left">
                    Han existido históricamente una serie de polémicas relacionadas con la estética del músico alemán Ludwig van Beethoven, las cuales plantean si se clasifica dentro del Clasicismo o dentro del Romanticismo. Beethoven unió la creación
                    musical de dos siglos, las particularidades con que dicha unión fue realizada, el talento del artista que extendió los horizontes del Clasicismo hasta introducirlos en el Romanticismo. Beethoven encarna el transito del Clasicismo
                    al Romanticismo. Identificado originalmente con los ideales de la Revolución Francesa de 1789, concibe obras de gran fuerza expresiva donde suele aparecer la categoría de lo heroico.
                </p>
            </div>
        </div>
    </div>



    <!-- 6. ROMANTICISMO -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">Romanticismo</button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">La palabra Romántico comenzó a utilizarse hacia mediados del siglo XVI. En los últimos años del siglo XVII, comienza como una reacción contra el clasicismo.</p>
                <p class="text-left">
                    El romanticismo es claramente universal y de todo los tiempos y no puede limitarse a solo un período de la historia. Por una parte, la nueva sociedad del siglo XIX, hija de las ideas de la revolución francesa, desea liberarse del pasado
                    y, así, conseguir un arte que exprese el comportamiento y las ideas de su tiempo.
                </p>
                <p class="text-left">
                    A medida que avanza el siglo XIX, hay una gran influencia, que va creciendo, cada vez más, de la literatura en la música: en Alemania los poemas de Wolfgang Von Goeth y Friedrich Von Schiller, fueron utilizados por Schibert, Schumann
                    etc, para producir una de las manifestaciones musicales-poéticas más importantes de todos los tiempos, el Lied Alemán. Asimismo escritores franceses y británicos fueron los inpiradores de diversas obras de Beethoven, Berlioz, Verdi
                    y otros.
                </p>
                <p class="text-left">El siglo XIX será el siglo del piano, gracias a sus posibilidades polifónicas, sonoras y de virtuosismo extraordinario</p>
            </div>
        </div>
    </div>



    <!-- 7. SIGLO XX -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">Siglo XX</button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">
                    Para comprender el siglo XX, es importante acercarse primero al siglo XIX en especial al impresionismo. Corriente de auténtica liberación que lucha por una música más individual y personal saliéndose para ello de las normas establecidas,
                    la música impresionista pretende destacar el impacto que provoca la obra al ser escuchada. Se aplican nuevos acordes, colores y sonoridades. En esta música el sonido va a constituir el alma de la música.
                </p>
                <p class="text-left">
                    En Italia aparecen una serie de músicos que imcorporan a su música, nuevos objetos sonoros: la incorporación de ruidos. Esta corriente se llamó Futurismo y afectó tanto a la música como a la literatura y al arte. El futurismo pone
                    como punto de partida el ruido, no sonoro, En Francia mientras tanto, surgió paralelamente el Bruitismo (del francés Bruit, ruido), que parte de ese mismo punto.
                </p>
            </div>
        </div>
    </div>



    <!-- 8. MÚSICA ELECTRÓNICA -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">Música Electrónica</button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">El vertiginoso desarrollo de la tecnología a partir de la Segunda Guerra Mundial (1939-1945) trajo como fruto la incorporación de sinterizadores y a la música creada por computador.</p>
                <p class="text-left">La primera manifestación de la música asistida por medios electrónicos fue la música concreta, que se creaba a partir de grabaciones magnetofónicas de ruidos y de sonidos naturales.</p>
                <p class="text-left">
                    En 1952 se creó en Alemania el primer estudio exclusivo de música electrónica. Esta música esta exclusivamente creada con sonidos producidos electrónicamente y parte desde lo que se llama "tono sinusoidal", un sonido puro, sin armónicos,
                    que es físicamente desagradable y que hay que elaborar con aparatos muy complicados.
                </p>
                <p class="text-left">Entre las primeras obras puramente electrónicas se encuentras Estudio I y Estudio II del compositor alemán Karlheinz Stockhaussen.</p>

                <div class="ratio ratio-1x1 my-4">
                    <iframe src="https://www.youtube.com/embed/H4QaMwpVXVM" frameborder="0">Elemento iframe no soportado.</iframe>
                </div>
                <p class="text-left">
                    Sin embargo la música electrónica creó descontento en los compositores desde el principio ya que aunque permitía un control exacto y una precisión absoluta sobre la obra, este resultaba pobre y parecía carecer de vida. Por ello, muchos
                    compositores unieron la música concreta y la electrónica, para crear un género que goza de gran popularidad desde entonces y hasta hoy en día la música electroacústica.
                </p>
                <p class="text-left">
                    El abismo entre compositor y público es hoy más acusado que nunca y la música "académica" parece haberse distanciado de los gustos y preferencias del público, más interesados por las músicas más populares y cercanas, tales como el
                    rock, el pop etc.
                </p>
            </div>
        </div>
    </div>



    <!-- 9. ACTUALIDAD -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Actualidad</button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p class="text-left">Hoy en día encontramos un sin fin de estilos musicales. Como podrían ser Jazz, Rock, Pop y Hip-Hop.</p>
                <p class="text-left">Al igual que artistas como podrían ser Ariana Grande, Justin Bieber o The Weeknd con 78.702.000 oyentes/mensuales, 76.291.000 oyentes/mensuales, 65.800.000 oyentes/mensuales respectivamente, solo en Spotify. </p>
            </div>
        </div>
    </div>
</div>