@{
	ViewData["Title"] = "Shop";
}
<!-- ==================== TITLE ==================== -->
<div id="div_title">
	<h2>Tienda</h2>
</div>

<!-- ==================== PRODUCTS ==================== -->
<div class="container my-5">
	<div class="card-group">


		<!-- PIANO -->
		<div class="card">
			<img class="card-body" data-bs-toggle="modal" data-bs-target="#modalPiano" src="~/images/shop/piano.png" alt="Teclado de un piano eléctrico" />
			<div class="card-body" data-bs-toggle="modal" data-bs-target="#modalPiano">
				<h5 class="card-title">Yamaha P-45</h5>
				<p class="card-text text-muted">Precio: <span class="precio">422,00</span> €</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="modalPiano" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Yamaha P-45 - Piano digital</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>- 88 teclas de martillos graduados estándar (GHS) y incorpora 10 voces de instrumento ligero y portátil.</p>
						<p>- Diseño estilizado y ligero con gran portabilidad lo hace el acompañante musical vayas donde vayas; controla con 1 solo botón tu piano, los sonidos, las demos o el metrónomo.</p>
						<p>- Incluye la tecnología AWM, que utiliza muestras de grabaciones originales para poder disfrutar de la reverberación de un piano de cola estés donde estés.</p>
						<p>- Contenido del envío: piano digital Yamaha P-45, piano portátil con pedal y conexión USB TO HOST, adaptador AC y manual de instrucciones, color negro.</p>
						<img class="img-fluid" src="~/images/shop/piano.png" alt="Teclado de un piano eléctrico" />
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" href="https://www.amazon.es/Yamaha-P-45B-Piano-digital-teclas/dp/B00UBJ4L32/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Yamaha+P-45+-+Piano+digital&qid=1621443830&sr=8-1" role="button">Comprar</a>
					</div>
				</div>
			</div>
		</div>


		<!-- FLUTE -->
		<div class="card">
			<img class="card-body" data-bs-toggle="modal" data-bs-target="#modalFlauta" src="~/images/shop/flute.png" alt="Flauta dulde en un fondo blanco" />
			<div class="card-body" data-bs-toggle="modal" data-bs-target="#modalFlauta">
				<h5 class="card-title">Hohner B9560</h5>
				<p class="card-text text-muted">Precio: <span class="precio">14,19</span> €</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="modalFlauta" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Hohner B9560 - Flauta dulte</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>- Digitación barroca con doble agujero.</p>
						<p>- Madera de permuy robusto con todas las comodidades.</p>
						<p>- Muy robusto con todas las comodidades.</p>
						<img class="img-fluid" src="~/images/shop/flute.png" alt="Flauta dulde en un fondo blanco" />
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" href="https://www.amazon.es/Hohner-B9560-Flauta-soprano-madera/dp/B006WBPWZO/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=hohner+b9560+-+flauta+dulce&qid=1621443972&sr=8-2" role="button">Comprar</a>
					</div>
				</div>
			</div>
		</div>


	</div>
	<div class="card-group">


		<!-- ELECTRIC GUITAR CABLE -->
		<div class="card">
			<img class="card-body" data-bs-toggle="modal" data-bs-target="#modalCableGuitarra" src="~/images/shop/electric_guitar_cable.png" alt="Cable de una guitarra sobre fondo blanco" />
			<div class="card-body" data-bs-toggle="modal" data-bs-target="#modalCableGuitarra">
				<h5 class="card-title">Milisten 35mm</h5>
				<p class="card-text text-muted">Precio: <span class="precio">14,19</span> €</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="modalCableGuitarra" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Milisten 35mm - Cable guitarra</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>- Ideal para guitarra eléctrica y bajos de teclados y efectos de pedal de amplificador de tablero de mezcla y sistemas de altavoces de sincronizadores de estudio y otros dispositivos con interfaz de 6- 35mm.</p>
						<img class="img-fluid" src="~/images/shop/electric_guitar_cable.png" alt="Cable de una guitarra sobre fondo blanco" />
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" href="https://www.amazon.es/MILISTEN-Conexi%C3%B3n-Guitarra-Instrumento-%C3%81ngulo/dp/B08SJQ2QKL/ref=sr_1_8?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Milisten+35mm+-+Cable+guitarra&qid=1621444196&sr=8-8" role="button">Comprar</a>
					</div>
				</div>
			</div>
		</div>


		<!-- CELLO -->
		<div class="card">
			<img class="card-body" data-bs-toggle="modal" data-bs-target="#modalViolonchelo" src="~/images/shop/cello.png" alt="Violonchelo de madera rojiza sobre fondo blanco" />
			<div class="card-body" data-bs-toggle="modal" data-bs-target="#modalViolonchelo">
				<h5 class="card-title">Classic Cantabile CP-100</h5>
				<p class="card-text text-muted">Precio: <span class="precio">211,99</span> €</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="modalViolonchelo" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Classic Cantabile CP-100</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>- Classic Cantabile CP-100 violonchelo 4/4, tapa: pícea laminado.</p>
						<p>- Fondo, marco, mástil, puente: arce laminado, diapasón: tilo barnizado, voluta: madera dura.</p>
						<p>- Cordal finetuning, pica ajustable en altura..</p>
						<p>- Lacado de brillo alto, tamaño: 4/4, peso: 4.6kg.</p>
						<p>- Incl. arco de violonchelo y bolsa.</p>
						<img class="img-fluid" src="~/images/shop/cello.png" alt="Violonchelo de madera rojiza sobre fondo blanco" />
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" href="https://www.amazon.es/Classic-Cantabile-CP-100-violonchelo-incl/dp/B00TUB7MYC/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Classic+Cantabile+CP-100&qid=1621444163&sr=8-1" role="button">Comprar</a>
					</div>
				</div>
			</div>
		</div>


		<!-- DRUM SET -->
		<div class="card">
			<img class="card-body" data-bs-toggle="modal" data-bs-target="#modalBateria" src="~/images/shop/drum_set.png" alt="Batería con platillos y tambores preparada para tocar sobre fondo blanco" />
			<div class="card-body" data-bs-toggle="modal" data-bs-target="#modalBateria">
				<h5 class="card-title">Pearl Export EXX725Z/C31</h5>
				<p class="card-text text-muted">Precio: <span class="precio">803,30</span> €</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="modalBateria" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Pearl Export EXX725Z/C31 - Batería</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>- Tipo: batería completa que incluye juego de platillos hardware y muffler.</p>
						<p>- Incluye bombo.</p>
						<p>- Incluye juego de platillos Sabian.</p>
						<p>- Incluye taburete para batería Keepdrum.</p>
						<p>- Incluye auriculares Keepdrum.</p>
						<img class="img-fluid" src="~/images/shop/drum_set.png" alt="Batería con platillos y tambores preparada para tocar sobre fondo blanco" />
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" href="https://www.amazon.es/Pearl-Exportaci%C3%B3n-C31-Black-Platillos-Auriculares/dp/B01GHKFU2Y/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Pearl+Export+EXX725Z%2FC31+-+Bater%C3%ADa&qid=1621444022&sr=8-1" role="button">Comprar</a>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>