@{
	ViewData["Title"] = "Terms And Condition of Use";
}
<div id="div_title">
	<h2>Términos de Uso</h2>
</div>

<hr id="hr_title" />

<div class="format_text p-4 border border-2 border-primary rounded align-middle">
	<p class="text-left fw-bold">1. Productos y servicios</p>
	<p class="text-left">En www.olp.com los usuarios pueden acceder a diferente contenido relacionado con el ámbito de la música. Nos reservamos la facultad de modificar, en cualquier momento, y sin aviso previo, la presentación y configuración de la información y servicios ofrecidos.</p>
	<br />
	<p class="text-left fw-bold">2. Precios y pagos</p>
	<p class="text-left">Todos los precio incluyen IVA. Los pedidos están sujetos a la disponibilidad del producto y a la confirmación del precio del producto. El cliente declara que tiene plena capacidad para realizar la compra siendo mayor de edad y estando en posesión de una tarjeta de crédito o débito válida y emitida por un banco que resulte aceptable para la empresa. El Cliente garantiza y se responsabiliza de que todos los datos facilitados sobre su tarjeta sean válidos.</p>
	<br />
	<p class="text-left fw-bold">3. Garantías</p>
	<p class="text-left">En caso de producto defectuoso, la empresa procederá según corresponda a la reparación, sustitución, rebaja del precio o resolución de la compra, gestiones que serán gratuitas para el consumidor. La empresa responde de las faltas de conformidad que se manifiesten dentro de un plazo de dos años desde la entrega.</p>
	<br />
	<p class="text-left fw-bold">4. Derechos de autor y marcas registradas</p>
	<p class="text-left">Todos los contenidos, marcas, logotipos, ilustraciones, documentación, programas informáticos o cualquier elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en la web corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos.</p>
	<br />
	<p class="text-left fw-bold">5. Cese del servicio</p>
	<p class="text-left">El usuario al acceder a los recursos de la página reconoce y acepta expresamente que en cualquier momento OLP pueda interrumpir, desactivar y/o cancelar cualquiera de la información o servicios proporcionados por el usuario, así como el acceso a su cuenta.</p>
	<br />
	<p class="text-left fw-bold">Ley de propiedad intelectual: <a href="https://www.boe.es/buscar/pdf/1996/BOE-A-1996-8930-consolidado.pdf">https://www.boe.es/buscar/pdf/1996/BOE-A-1996-8930-consolidado.pdf</a></p>
</div>